<h1 style="padding-left: 45%; margin-top: 50px; font-size: 30px;">New Series</h1>

<%= render 'form', series: @series %>

<div class="ui button" style="text-align: center; vertical-align: middle; width: 200px; height: 40px; background-color: lightgrey; margin-left: 43%;">
       <%= link_to 'Back', series_index_path %>
</div>

